html {
  height: 100%;
  width: 100%;
}

/*
### 🎨 Sección CSS
>- **Enlazar** CSS al HTML
>- **Hacer** que todos los elementos `h1` sean de color verde
>- **Crear** la clase `"blue"` y aplicar el color azul al texto
>- **Crear** un ID igual a `"red"` y aplicar el color rojo al texto
*/

.bonito {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: solid #2c1a10 10px;
  background-color: beige;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.bonito img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: solid #000 3px;
}

#changeColor {
  font-size: 22px;
}

h1 {
  color: green;
}

.blue {
  color: blue;
}

#red {
  color: red;
}